**/CodeDB/**
**/Debug/**
**/Gerber/**
**/.vs/**

*.bak
*.kicad_pcb-bak
*.stl
*.old
*.user
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/watchdog/WatchdogCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/watchdog/WatchdogCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/utils/RingBuf.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/utils/RingBuf.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/utils/List.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/utils/List.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/uart/UARTCC32XXDMA.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/uart/UARTCC32XXDMA.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/uart/UARTCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/uart/UARTCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/timer/TimerCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/timer/TimerCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/spi/SPICC32XXDMA.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/spi/SPICC32XXDMA.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/sdspi/SDSPICC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/sdspi/SDSPICC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/sd/SDHostCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/pwm/PWMTimerCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/pwm/PWMTimerCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/power/PowerCC32XX_asm.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/power/PowerCC32XX_asm.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/power/PowerCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/power/PowerCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/package/package_ti.drivers.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/package/package_ti.drivers.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/nvs/NVSSPI25X.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/nvs/NVSSPI25X.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/nvs/NVSRAM.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/nvs/NVSRAM.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/i2s/I2SCC32XXDMA.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/i2s/I2SCC32XXDMA.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/i2c/I2CCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/i2c/I2CCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/gpio/GPIOCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/gpio/GPIOCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/dma/UDMACC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/dma/UDMACC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/crypto/CryptoCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/crypto/CryptoCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/capture/CaptureCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/capture/CaptureCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/camera/CameraCC32XXDMA.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/camera/CameraCC32XXDMA.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/adc/ADCCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/adc/ADCCC32XX.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/Watchdog.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/Watchdog.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/UART.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/UART.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/Timer.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/Timer.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/SPI.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/SPI.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/SDSPI.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/SDSPI.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/SDFatFS.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/SDFatFS.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/SD.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/SD.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/PWM.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/PWM.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/NVS.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/NVS.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/I2S.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/I2S.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/I2CSlave.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/I2CSlave.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/I2C.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/I2C.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/EMAC.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/EMAC.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/ECDH.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/ECDH.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/Capture.om4g.dep
Tests/DesktopClient/ComTest/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tests/DesktopClient/ComTest/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/Capture.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/Camera.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/Camera.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/AESCCM.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/AESCCM.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/ADCBuf.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/ADCBuf.om4g
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/ADC.om4g.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/ADC.om4g
Firmware/Motherboard/source/ti/drivers/package.mak
Firmware/Motherboard/source/ti/drivers/lib/drivers_cc32xx.am4g.mak
Firmware/Motherboard/source/ti/drivers/.xdchelp
Firmware/Motherboard/source/ti/drivers/.xdcenv.mak
Tests/DesktopClient/ComTest/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tests/DesktopClient/ComTest/obj/Release/ComTest.pdb
Tests/DesktopClient/ComTest/obj/Release/ComTest.frmMain.resources
Tests/DesktopClient/ComTest/obj/Release/ComTest.exe
Tests/DesktopClient/ComTest/obj/Release/ComTest.csproj.GenerateResource.Cache
Tests/DesktopClient/ComTest/obj/Release/ComTest.csproj.FileListAbsolute.txt
Tests/DesktopClient/ComTest/obj/Release/ComTest.csproj.CoreCompileInputs.cache
Tests/DesktopClient/ComTest/obj/Release/ComTest.Properties.Resources.resources
Tests/DesktopClient/ComTest/bin/Release/ComTest.pdb
Tests/DesktopClient/ComTest/bin/Release/ComTest.exe.config
Tests/DesktopClient/ComTest/bin/Release/ComTest.exe
Firmware/Motherboard/source/ti/drivers/package/package.xdc.dep
Firmware/Motherboard/source/ti/drivers/package/lib/lib/drivers_cc32xx/sd/SDHostCC32XX.om4g.dep
Firmware/Motherboard/source/ti/drivers/.libraries
Firmware/Motherboard/source/ti/drivers/.interfaces
Firmware/Motherboard/source/ti/drivers/.executables
Firmware/Motherboard/source/ti/drivers/.dlls
Firmware/Motherboard/source/ti/drivers/.cproject
Firmware/Motherboard/source/ti/devices/cc32xx/driverlib/.settings/language.settings.xml
